.LandingPage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f7fb;
    position: relative;
}

.blob-top, .blob-bottom {
    position: absolute;
    width: 200px;
    height: auto;
}

.blob-top {
    top: 0;
    left: 0;
}

.blob-bottom {
    bottom: 0;
    right: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.container h2 {
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: #293264;
    margin-bottom: 20px;
}

.container p {
    font-size: 16px;
    line-height: 19px;
    color: #293264;
    margin-bottom: 30px;
    text-align: center;
}

.container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.input-field {
    padding: 12px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    border: 1px solid #d6dbf5;
    border-radius: 8px;
    outline: none;
    transition: border 0.3s ease;
    width: 100%;
}

.input-field:focus {
    border-color: #4d5b9e;
}

.input-field::placeholder {
    color: #8e94a3;
}

/* Common button styling */
.auth-button {
    padding: 10px;
    background-color: #4d5b9e;
    color: #f5f7fb;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
}

.auth-button:hover {
    color: #293264;
    background-color: #fff;
    transform: scale(1.1);
    border: 1px solid #293264;
    transition: all 0.3s ease-out;
}

.forgot-password {
    text-align: right;
}

.forgot-password a {
    color: #4d5b9e;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.auth-link {
    text-align: center;
    margin-top: 10px;
}

.auth-link span {
    color: #4d5b9e;
    cursor: pointer;
    font-weight: bold;
}

.auth-link span:hover {
    text-decoration: underline;
}
