  /* Styles for OpeningPage */
  
  .LandingPage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .LandingPage-container > h1 {
    font-family: "Karla";
    font-weight: 700;
    font-size: 31.25px;
    line-height: 37px;
    text-align: center;
    color: #293264;
    margin-bottom: 7px;
  }
  
  .LandingPage-container > p {
    margin: 0 0 30px 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }
  
  .LandingPage-container > button {
    width: 193px;
    height: 52px;
    background: #4d5b9e;
    border-radius: 15px;
    border: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #f5f7fb;
  }
  
  .blob-top {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
  }
  
  .blob-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  
  .question {
    width: 600px;
  }
  
  .question-divider {
    color: #dbdef0;
  }
  
  .answer-button-container {
    display: flex;
    gap: 15px;
  }
  
  .answer {
    font-family: "Inter";
    font-size: 1.4rem;
    font-style: normal;
  }
  
  .questions-container {
    text-align: center;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
  }
  
  .question-title {
    font-family: "Karla";
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 28px;
    color: #293264;
  }
  
  #selected {
    background-color: #d6dbf5;
    border: 1px solid #d6dbf5;
  }
  #correct {
    background-color: #94d7a2;
    border: 0.794239px solid #94d7a2;
  }
  #incorrect {
    background-color: #f8bcbc;
    color: #293264;
    border: 0.794239px solid #f8bcbc;
  }
  button {
    font-family: "Inter";
    line-height: 15px;
    color: #293264;
    border: 0.794239px solid #4d5b9e;
    border-radius: 8px;
    margin: 5px;
    font-size: 1rem;
    font-weight: 500;
    background-color: #f4f7fa;
    padding: 4px 8px 4px 8px;
  }
  
  .check-answer {
    background-color: #4d5b9e;
    height: 40px;
    color: #fff;
  }
  
  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #4d5b9e #4d5b9e transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent #ff3d00 #ff3d00;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  
  .loader-container {
    width: 100vw;
    height: 800px;
    display: grid;
    place-items: center;
  }
  
  .normal-button:hover {
    background-color: #d6dbf5;
    border: 0.794239px solid #d6dbf5;
    transform: scale(1.1);
    transition: all 0.3s ease-out;
  }
  
  .check-answer:hover {
    color: #293264;
    background-color: #fff;
    transform: scale(1.1);
    transition: all 0.3s ease-out;
  }
  .openingpage-container > button:hover {
    color: #293264;
    background-color: #fff;
    transform: scale(1.1);
    border: 3px solid #293264;
    transition: all 0.3s ease-out;
  }
  
  